mule-app/src/main/mule/downloadFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:basic="http://www.mulesoft.org/schema/mule/basic" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/basic http://www.mulesoft.org/schema/mule/basic/current/mule-basic.xsd">

	<flow name="expDownloadFlow" doc:id="4e7a9b1e-d87e-46e6-8429-4ba3e662f9db" >
		<http:listener doc:name="Listener" doc:id="76798d2f-f349-40ce-9cc2-64f586bafa8c" config-ref="HTTP_Listener_config" path="/exp/download"/>
		<logger level="INFO" doc:name="attributes" doc:id="e5a417ab-e5a0-40b1-9131-6282703d1052" message="#[attributes]"/>
		<logger level="DEBUG" doc:name="payload" doc:id="a490e31a-10af-48c4-9b61-1efe5e130baa" message="#[payload]"/>
		<validation:matches-regex doc:name="check appMode" doc:id="9b05acee-f067-48a1-a1a4-c233550100c4" value="${app.name}" caseSensitive="false" message='#["this is exp flow, but app.name=${app.name}."]' regex="(test-throughput-app|-exp)$"/>
		<http:request method="GET" doc:name="Request" doc:id="82333c17-b83b-49aa-b6f7-bbb6d3420e2f" config-ref="prc_HTTP_Request_conf" path="/prc/download">
					<http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="done" doc:id="f45489dc-9404-4808-ad88-e2c45414a6da" message="done"/>
	</flow>

	<flow name="prcDownloadFlow" doc:id="73d8cc6f-9453-4fd8-9d0e-40d3929e6cfa" >
		<http:listener doc:name="Listener" doc:id="43f595a2-9d62-478c-8ccd-2df19a36c9f7" config-ref="HTTP_Listener_config" path="/prc/download"/>
		<logger level="INFO" doc:name="attributes" doc:id="a0a95aaa-a702-42a8-958d-48191ad4ddc0" message="#[attributes]"/>
		<logger level="DEBUG" doc:name="payload" doc:id="2f1e85e1-6766-4257-916a-318dff972150" message="#[payload]"/>
		<validation:matches-regex doc:name="check appMode" doc:id="b0cc5382-6950-4e6d-bc72-5f14de91aa5d" value="${app.name}" caseSensitive="false" message='#["this is prc flow, but app.name=${app.name}."]' regex="(test-throughput-app|-prc)$"/>
		<http:request method="GET" doc:name="Request" doc:id="8dab1e9e-80aa-473c-a6f2-cabaa3a84b74" config-ref="sys_HTTP_Request_conf" path="/sys/download">
					<http:query-params><![CDATA[#[output application/java
---
attributes.queryParams]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="done" doc:id="524b96df-fd76-4dcb-a11a-b4537bc8fd2a" message="done"/>
	</flow>

	<flow name="sysDownloadFlow" doc:id="b344ee9b-dad8-4dcc-8915-c95552fe60fb" >
		<http:listener doc:name="Listener" doc:id="b6442cbb-e401-414b-9cda-4c7df183b5b1" config-ref="HTTP_Listener_config" path="/sys/download"/>
		<logger level="INFO" doc:name="attributes" doc:id="c1ea3114-49a6-4773-868f-0eac456fdfbe" message="#[attributes]"/>
		<logger level="DEBUG" doc:name="payload" doc:id="dee39f21-c7eb-467f-93e0-0bac4690fb26" message="#[payload]"/>
		<validation:matches-regex doc:name="check appMode" doc:id="16e59d3c-c6de-40a4-895e-9fd8d0ca3e19" value="${app.name}" caseSensitive="false" message='#["this is sys flow, but app.name=${app.name}."]' regex="(test-throughput-app|-sys)$"/>
		<choice doc:name="Choice" doc:id="5e964485-8f1b-467d-a55b-f39c4428b77e" >
			<when expression='#[null == attributes.queryParams.sysMode]'>
				<logger level="INFO" doc:name="Logger" doc:id="7ecdd8c3-65cf-49b5-98f1-caea6a23d87d" message="sysMode=null"/>
				<basic:gernerate-dummy-data doc:name="Gernerate dummy data" doc:id="ba0f7cce-7818-4d6a-8762-858a8a20cb9a" arg0="#[attributes.queryParams.sysSize default 16]"/>
			</when>
			<when expression='"empty" == attributes.queryParams.sysMode'>
				<logger level="INFO" doc:name="Logger" doc:id="3f877c57-c7fb-446f-86bc-03307352f437" message="sysMode=empty"/>
				<set-payload value='#[""]' doc:name="Set Payload" doc:id="c889d9e3-8c98-41b8-a767-2c4812574141" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="71e79d54-8e88-47bc-8654-bec6fa1d0c5a" message="sysMode=#[attributes.queryParams.sysMode]"/>
				<raise-error doc:name="Raise error" doc:id="36802520-7e2f-4d4c-95f3-6b8e57287ad9" type="APP:UNKNOWN_MODE" description='unkown "sysMode"'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="done" doc:id="ef5a94e1-4fdd-4c33-88ba-4bd365ca20b7" message="done"/>
	</flow>
</mule>
